{% extends 'base.html' %}
{% block content %}


    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
<section class="login_part pt-4">
       <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Get in Touch</h2>
        </div>
        <div class="col-lg-8">
                            
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">
                                                {{ message }}
                                            </div>
                                        {% endfor%}
                                    {% endif %}
                                {% endwith %}
                            <form class="form-contact contact_form" action="" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.name.label(class="") }}
                                        {% if form.name.errors %}
                                            {{ form.name(class="form-control border border-danger rounded") }}
                                            <div class="text-danger">
                                                {% for error in form.name.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.name(class="form-control border border-secondary rounded", style="height:42px;", placeholder="Your name") }}
                                        {% endif %} 
                                    </div>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.email.label(class="") }}
                                        {% if form.email.errors %}
                                            {{ form.email(class="form-control border border-danger rounded") }}
                                            <div class="text-danger">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.email(class="form-control border border-secondary rounded",style="height:42px;", placeholder="Your Email") }}
                                        {% endif %} 
                                    </div>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.message.label(class="") }}
                                        {% if form.message.errors %}
                                            {{ form.message(class="form-control border border-danger rounded") }}
                                            <div class="text-danger">
                                                {% for error in form.message.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.message(class="form-control border border-secondary rounded", rows=8, placeholder="Your message") }}
                                        {% endif %} 
                                    </div>
                                  </div>
                                  
                                </div>
                                <div class="col-md-12 form-group">
                                   {{ form.submit(class="btn_3") }}
                                </div>
                            </form>
                            
                        </div>
                        <div class="col-lg-4 my-auto">
                            <div class="media contact-info">
                              <span class="contact-info__icon"><i class="ti-home"></i></span>
                              <div class="media-body">
                                <h3>Crafty World, Calicut</h3>
                                <p>Kulathur, CA 91770</p>
                              </div>
                            </div>
                            <div class="media contact-info">
                              <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                              <div class="media-body">
                                <h3>0498 2587542</h3>
                                <p>Mon to Fri 9am to 6pm</p>
                              </div>
                            </div>
                            <div class="media contact-info">
                              <span class="contact-info__icon"><i class="ti-email"></i></span>
                              <div class="media-body">
                                <h3>craftyworld@gmail.com</h3>
                                <p>Send us your query anytime!</p>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
    </section>































{% endblock %}