{% extends 'base.html' %}
{% block content %}
 {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">
                                                {{ message }}
                                            </div>
                                        {% endfor%}
                                    {% endif %}
                                {% endwith %}

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="banner_text">
                        <div class="banner_text_iner pl-4">
                            <h1>Best quality crafts</h1>
                                <p>When buying an handmade crafts,you are buying more than just an object.
                                     You are buying hundreds of hours of failures and experimentation</p>
                            <a href="{{url_for('user.register')}}" class="btn_1">shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_img">
            <img src="{{ url_for('static', filename='img/img19.png') }}" alt="#" class="img-fluid">
            <img src="{{ url_for('static', filename='img/banner_pattern.png') }}" alt="#" class="pattern_img img-fluid">
        </div>
    </section>
    <!-- banner part start-->

    <!-- product list start-->
    <section class="single_product_list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_product_iner">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_product_img">
                                    <img src="{{ url_for('static', filename='img/peacock1.jpg') }}" class="img-fluid" alt="#">
                                     <img src="{{ url_for('static', filename='img/product_overlay.png') }}" alt="#" class="product_overlay img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="single_product_content">
                                    <h5>Started from ₹150</h5>
                                    <h2> <a href="single-product.html">Dancing  Peacock</a> </h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_product_iner">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_product_img">
                                    <img src="{{ url_for('static', filename='img/polymer clay craft.jpg') }}" class="img-fluid" alt="#">
                                    <img src="{{ url_for('static', filename='img/product_overlay.png') }}" alt="#" class="product_overlay img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="single_product_content">
                                    <h5>Started from ₹250</h5>
                                    <h2> <a href="single-product.html">Polymer Clay Crafts</a> </h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_product_iner">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_product_img">
                                    <img src="{{ url_for('static', filename='img/product/product_5.jpeg') }}" class="img-fluid" alt="#">
                                    <img src="{{ url_for('static', filename='img/product_overlay.png') }}" alt="#" class="product_overlay img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-6">
                                <div class="single_product_content">
                                    <h5>Started from ₹300</h5>
                                    <h2> <a href="single-product.html">Rock Paintings</a> </h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list end-->


    <!-- trending item start-->
    <section class="trending_items">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Trending Items</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_product_item text-center">
                        <div class="single_product_item_thumb">
                            <img src="{{ url_for('static', filename='img/product/product_5.jpg') }}" style="width: 360px; height: 200px;" alt="#" class="img-fluid">
                        </div>
                        <h3> <a href="single-product.html">Wall Clock</a> </h3>
                        <p>From ₹200</p>
                    </div>


                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_product_item text-center">
                        <img src="{{ url_for('static', filename='img/product/product_1.jpg') }}" style="width: 350px; height: 200px;" alt="#" class="img-fluid">
                        <h3> <a href="single-product.html">Wall Hanging Showpiece</a> </h3>
                        <p>From ₹170</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_product_item text-center">
                        <img src="{{ url_for('static', filename='img/product/product_3.jpg') }}" style="width: 350px; height: 200px;" alt="#" class="img-fluid">
                        <h3> <a href="single-product.html">Walnut Boat Craft</a> </h3>
                        <p>From ₹200</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- trending item end-->

    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{{ url_for('static', filename='img/client.png') }}" alt="#">
                            </div>
                            <p>"In these mass-produced times, craftmanship is something we really need to hold on to"</p>
                            <h5>- Becky Pearce</h5>
                        </div>
                        <div class="single_client_review">
                            <div class="client_img">
                                <img src="{{ url_for('static', filename='img/client_1.png') }}" alt="#">
                            </div>
                            <p>"Work done by you with unconditional love and pure devotion goes straight in the category of divine and immortal craft"</p>
                            <h5>-Seema Brain Openers</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->


    <!-- feature part here -->
    <section class="feature_part section_padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="feature_part_tittle">
                        <h3>Craft is passionately creating something with your hands.</h3>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="feature_part_content">
                        <p>Art never responds to the wish to make it democratic; it is not for everybody; it is only for those who are willing to undergo the effort needed to understand it.    </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="{{ url_for('static', filename='img/icon/feature_icon_1.svg') }}" alt="#">
                        <h4>Credit Card Support</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="{{ url_for('static', filename='img/icon/feature_icon_2.svg') }}" alt="#">
                        <h4>Online Order</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="{{ url_for('static', filename='img/icon/feature_icon_3.svg') }}" alt="#">
                        <h4>Free Delivery</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="{{ url_for('static', filename='img/icon/feature_icon_4.svg') }}" alt="#">
                        <h4>Product with Gift</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature part end -->

    <!-- subscribe part here -->
    <section class="subscribe_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe_part_content">
                        <h2>Get promotions & updates!</h2>
                        <p>In crafting there are no mistakes just unique creations.</p>
                        <div class="subscribe_form">
                            <input type="email" placeholder="Enter your mail">
                            <a href="#" class="btn_1">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe part end -->

{% endblock %}