{% extends 'base.html' %}
{% block content %}

                           
     <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>product list</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->
    <div class="container">
        <div class="row">
        {% for products in products %}
        
            <div class="col-md-3 my-2">
                <div class="card">
                    <img src="{{ url_for('static', filename='productpic/'+products.image_file)}}" alt="" style="height: 200px; object-fit: cover; object-position: center center;">
                    <div class="card-body">
                        <h3 class="card-title">{{ products.name }}</h3>
                        <p class="crad-text">{{ products.price }}</p>
                        {% if products.stock > 0 %}
                        <a href="{{ url_for('order',pid=products.id) }}" class="btn btn-primary">Buy Now</a>
                        {% else %}
                        <button type="button" class="btn btn-outline-danger" disabled>Out Of Stock</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div> 
        


   

    
{% endblock %}