{% extends 'base.html' %}
{% block content %}

    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>REGISTRATION</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!--================login_part Area =================-->
    <section class="login_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Creativity Is Our Passion</h2>
                            <p>“Without craftsmanship inspiration is a mere reed shaken in the wind.”

                                      ~ Johannes Brahms</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Register Now</h3>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">
                                                {{ message }}
                                            </div>
                                        {% endfor%}
                                    {% endif %}
                                {% endwith %}
                            <form class="form-contact contact_form" action="" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.username.label(class="") }}
                                        {% if form.username.errors %}
                                            {{ form.username(class="form-control border border-danger rounded") }}
                                            <div class="text-danger">
                                                {% for error in form.username.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.username(class="form-control border border-secondary rounded", placeholder="Your Username") }}
                                        {% endif %} 
                                    </div>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.email.label(class="") }}
                                        {% if form.email.errors %}
                                            {{ form.email(class="form-control border border-danger rounded") }}
                                            <div class="text-danger">
                                                {% for error in form.email.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.email(class="form-control border border-secondary rounded", placeholder="Your Email") }}
                                        {% endif %} 
                                    </div>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.password.label(class="") }}
                                        {% if form.password.errors %}
                                            {{ form.password(class="form-control border border-danger rounded") }}
                                            <div class="text-danger">
                                                {% for error in form.password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.password(class="form-control border border-secondary rounded", placeholder="Your Password") }}
                                        {% endif %} 
                                    </div>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form.confirm_password.label(class="") }}
                                        {% if form.confirm_password.errors %}
                                            {{ form.confirm_password(class="form-control border border-danger rounded") }}
                                            <div class="text-danger">
                                                {% for error in form.confirm_password.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            {{ form.confirm_password(class="form-control border border-secondary rounded", placeholder="Confirm Password") }}
                                        {% endif %} 
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12 form-group">
                                   {{ form.submit(class="btn_3") }}
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

{% endblock %}    